In [32]:
import pandas as pd
df = pd.read_csv("nba-players-stats/Seasons_Stats.csv", index_col = 0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24691 entries, 0 to 24690
Data columns (total 52 columns):
Year      24624 non-null float64
Player    24624 non-null object
Pos       24624 non-null object
Age       24616 non-null float64
Tm        24624 non-null object
G         24624 non-null float64
GS        18233 non-null float64
MP        24138 non-null float64
PER       24101 non-null float64
TS%       24538 non-null float64
3PAr      18839 non-null float64
FTr       24525 non-null float64
ORB%      20792 non-null float64
DRB%      20792 non-null float64
TRB%      21571 non-null float64
AST%      22555 non-null float64
STL%      20792 non-null float64
BLK%      20792 non-null float64
TOV%      19582 non-null float64
USG%      19640 non-null float64
blanl     0 non-null float64
OWS       24585 non-null float64
DWS       24585 non-null float64
WS        24585 non-null float64
WS/48     24101 non-null float64
blank2    0 non-null float64
OBPM      20797 non-null float64
DBPM      20797 non-null float64
BPM       20797 non-null float64
VORP      20797 non-null float64
FG        24624 non-null float64
FGA       24624 non-null float64
FG%       24525 non-null float64
3P        18927 non-null float64
3PA       18927 non-null float64
3P%       15416 non-null float64
2P        24624 non-null float64
2PA       24624 non-null float64
2P%       24496 non-null float64
eFG%      24525 non-null float64
FT        24624 non-null float64
FTA       24624 non-null float64
FT%       23766 non-null float64
ORB       20797 non-null float64
DRB       20797 non-null float64
TRB       24312 non-null float64
AST       24624 non-null float64
STL       20797 non-null float64
BLK       20797 non-null float64
TOV       19645 non-null float64
PF        24624 non-null float64
PTS       24624 non-null float64
dtypes: float64(49), object(3)
memory usage: 10.0+ MB

In [2]:
df.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [3]:
df.Year.value_counts()

2015.0    651
2011.0    625
2014.0    611
2008.0    595
2017.0    595
         ...
1959.0    110
1955.0    109
1957.0    107
1956.0    106
1961.0    104
Name: Year, Length: 68, dtype: int64

In [4]:
start_date = 1997.0
end_date = 2017.0
mask = (df['Year'] > start_date) & (df['Year'] <= end_date)

In [5]:
df = df.loc[mask]
df.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
13414,1998.0,Mahmoud Abdul-Rauf,PG,28.0,SAC,31.0,0.0,530.0,10.5,0.405,...,1.000,6.0,31.0,37.0,58.0,16.0,1.0,19.0,31.0,227.0
13415,1998.0,Tariq Abdul-Wahad,SG,23.0,SAC,59.0,16.0,959.0,10.1,0.456,...,0.672,44.0,72.0,116.0,51.0,35.0,13.0,65.0,81.0,376.0
13416,1998.0,Shareef Abdur-Rahim,SF,21.0,VAN,82.0,82.0,2950.0,21.1,0.562,...,0.784,227.0,354.0,581.0,213.0,89.0,76.0,257.0,201.0,1829.0
13417,1998.0,Cory Alexander,PG,24.0,TOT,60.0,22.0,1298.0,15.2,0.548,...,0.784,17.0,129.0,146.0,209.0,70.0,11.0,112.0,98.0,488.0
13418,1998.0,Cory Alexander,PG,24.0,SAS,37.0,3.0,501.0,11.1,0.512,...,0.676,7.0,40.0,47.0,71.0,25.0,5.0,47.0,53.0,165.0

In [6]:
df.shape

(11258, 52)

In [7]:
df.columns

Index(['Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'PER', 'TS%',
       '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%',
       'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2', 'OBPM', 'DBPM',
       'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

Columns to drop: 'Age', 'Year', 'Tm', 'G', 'GS', MP, 3PAr, FTR, ORB%, 'DRB%', 'AST%', 'STL%', 'BLK%', 'TOV%',
       'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2', 'OBPM', 'DBPM',
       'BPM', 'VORP'

In [33]:
df.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [9]:
df1 = df.drop(['Age'], axis = 1)

In [10]:
for col in df.columns:
    for variable in list_to_drop:
        if variable == col:
            del df[col]

In [11]:
df.shape

(11258, 24)

In [12]:
df.head()

,Player,Pos,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
13414,Mahmoud Abdul-Rauf,PG,103.0,273.0,0.377,5.0,31.0,0.161,98.0,242.0,...,1.000,6.0,31.0,37.0,58.0,16.0,1.0,19.0,31.0,227.0
13415,Tariq Abdul-Wahad,SG,144.0,357.0,0.403,4.0,19.0,0.211,140.0,338.0,...,0.672,44.0,72.0,116.0,51.0,35.0,13.0,65.0,81.0,376.0
13416,Shareef Abdur-Rahim,SF,653.0,1347.0,0.485,21.0,51.0,0.412,632.0,1296.0,...,0.784,227.0,354.0,581.0,213.0,89.0,76.0,257.0,201.0,1829.0
13417,Cory Alexander,PG,171.0,400.0,0.428,66.0,176.0,0.375,105.0,224.0,...,0.784,17.0,129.0,146.0,209.0,70.0,11.0,112.0,98.0,488.0
13418,Cory Alexander,PG,60.0,145.0,0.414,20.0,64.0,0.313,40.0,81.0,...,0.676,7.0,40.0,47.0,71.0,25.0,5.0,47.0,53.0,165.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11258 entries, 13414 to 24690
Data columns (total 24 columns):
Player    11258 non-null object
Pos       11258 non-null object
FG        11258 non-null float64
FGA       11258 non-null float64
FG%       11198 non-null float64
3P        11258 non-null float64
3PA       11258 non-null float64
3P%       9282 non-null float64
2P        11258 non-null float64
2PA       11258 non-null float64
2P%       11175 non-null float64
eFG%      11198 non-null float64
FT        11258 non-null float64
FTA       11258 non-null float64
FT%       10758 non-null float64
ORB       11258 non-null float64
DRB       11258 non-null float64
TRB       11258 non-null float64
AST       11258 non-null float64
STL       11258 non-null float64
BLK       11258 non-null float64
TOV       11258 non-null float64
PF        11258 non-null float64
PTS       11258 non-null float64
dtypes: float64(22), object(2)
memory usage: 2.1+ MB

In [15]:
df['3P%'].value_counts()

0.000    1690
0.333     343
0.250     209
0.500     177
0.200     161
         ...
0.043       1
0.187       1
0.096       1
0.088       1
0.121       1
Name: 3P%, Length: 381, dtype: int64

In [17]:
df1 = df.dropna()

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9049 entries, 13414 to 24690
Data columns (total 24 columns):
Player    9049 non-null object
Pos       9049 non-null object
FG        9049 non-null float64
FGA       9049 non-null float64
FG%       9049 non-null float64
3P        9049 non-null float64
3PA       9049 non-null float64
3P%       9049 non-null float64
2P        9049 non-null float64
2PA       9049 non-null float64
2P%       9049 non-null float64
eFG%      9049 non-null float64
FT        9049 non-null float64
FTA       9049 non-null float64
FT%       9049 non-null float64
ORB       9049 non-null float64
DRB       9049 non-null float64
TRB       9049 non-null float64
AST       9049 non-null float64
STL       9049 non-null float64
BLK       9049 non-null float64
TOV       9049 non-null float64
PF        9049 non-null float64
PTS       9049 non-null float64
dtypes: float64(22), object(2)
memory usage: 1.7+ MB

In [22]:
df1.reset_index(inplace = True)

In [30]:
df = df1.drop(['index'], axis = 1)

In [31]:
df

,Player,Pos,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Mahmoud Abdul-Rauf,PG,103.0,273.0,0.377,5.0,31.0,0.161,98.0,242.0,...,1.000,6.0,31.0,37.0,58.0,16.0,1.0,19.0,31.0,227.0
1,Tariq Abdul-Wahad,SG,144.0,357.0,0.403,4.0,19.0,0.211,140.0,338.0,...,0.672,44.0,72.0,116.0,51.0,35.0,13.0,65.0,81.0,376.0
2,Shareef Abdur-Rahim,SF,653.0,1347.0,0.485,21.0,51.0,0.412,632.0,1296.0,...,0.784,227.0,354.0,581.0,213.0,89.0,76.0,257.0,201.0,1829.0
3,Cory Alexander,PG,171.0,400.0,0.428,66.0,176.0,0.375,105.0,224.0,...,0.784,17.0,129.0,146.0,209.0,70.0,11.0,112.0,98.0,488.0
4,Cory Alexander,PG,60.0,145.0,0.414,20.0,64.0,0.313,40.0,81.0,...,0.676,7.0,40.0,47.0,71.0,25.0,5.0,47.0,53.0,165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9044,Thaddeus Young,PF,362.0,687.0,0.527,45.0,118.0,0.381,317.0,569.0,...,0.523,131.0,318.0,449.0,122.0,114.0,30.0,96.0,135.0,814.0
9045,Cody Zeller,PF,253.0,443.0,0.571,0.0,1.0,0.000,253.0,442.0,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
9046,Tyler Zeller,C,78.0,158.0,0.494,0.0,1.0,0.000,78.0,157.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
9047,Paul Zipser,SF,88.0,221.0,0.398,33.0,99.0,0.333,55.0,122.0,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
9048,Ivica Zubac,C,126.0,238.0,0.529,0.0,3.0,0.000,126.0,235.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [45]:
df1.Player.unique()

AttributeError: 'DataFrame' object has no attribute 'Player'

In [46]:
df1 = df.groupby('Player')[['Pos','FT%', 'FG', 'FG%']].mean()

In [44]:
df1

                         FT%          FG       FG%
Player
A.C. Green          0.708056  265.444444  0.487667
A.J. Bramlett            NaN    4.000000  0.190000
A.J. English        0.774000  308.500000  0.436000
A.J. Guyton         0.824000   55.333333  0.255667
A.J. Hammons        0.450000   17.000000  0.405000
...                      ...         ...       ...
Zelmo Beaty*        0.751750  424.500000  0.463500
Zendon Hamilton     0.679250   22.875000  0.370125
Zoran Dragic        0.589000    7.333333  0.342000
Zoran Planinic      0.675667   65.666667  0.406667
Zydrunas Ilgauskas  0.760692  323.615385  0.478385

[3921 rows x 3 columns]